<html>
  <head>
    <title>Remote Cameras</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/JavaScript" src="{% static "javascript.js" %}"></script>
    <script type="text/JavaScript">
    $(document).ready(function() {
        $("#add_camera_link").click(function() {
          $("#add_camera").toggle();
        });
        $("#remove_camera_link").click(function(){
          $("#remove_camera").toggle();
        });

        $(".refresh").click(function(){
          refreshDataAjax();
        })

        {% if camera_list %}
          {% for each_camera in camera_list %}
            $("#timeslider_{{ each_camera.uuid }}").slider({change:
              function(event,ui) {
                var data_dump = JSON.stringify({"action":"get_frame_info",
                                                "camera_uuid":"{{ each_camera.uuid }}",
                                              "offset":ui.value});
                $.post("json-api/",data_dump,function(data,textStatus,jqXHR){
                  response_data = JSON.parse(data);
                  if (response_data['success'] == true) {
                    $("#camera_frame_{{ each_camera.uuid }}").attr('src',"http://6846cedarcove.webcam/uploaded_images/" + response_data['frame_url']);
                    d = new Date(response_data['frame_timestamp']);
                    $("#timestamp_{{ each_camera.uuid }}").text(d.toLocaleString());
                  }
                  else {
                    alert("Error updating camera(s)!");
                  }
                });
            }});
          {% endfor %}
        {% endif %}

        refreshDataAjax();
    });
    </script>
  </head>
  <body>
  {% if camera_list %}
    <ul>
    {% for each_camera in camera_list %}
      <li><h2>{{ each_camera.name }}</h2>
      <div id="container_{{each_camera.uuid}}">

        <div class="control" style="width:630px;margin-bottom:10px;margin-right:10px" id="timeslider_{{ each_camera.uuid }}"></div>
        <div class="buttons">
          <button style="vertical-align:top" id="previous_timeslide_{{ each_camera.uuid }}">Previous Frame</button>&nbsp;
          <button style="vertical-align:top" id="next_timeslide_{{ each_camera.uuid }}">Next Frame</button>&nbsp;
          <button style="vertical-align:top" class="refresh">Refresh</button>
          <input id="checkbox_{{ each_camera.uuid }}" type="checkbox" class="auto_refresh">Auto-refresh every</input>
          <input id="interval_{{ each_camera.uuid }}" type="text" size="2" value="5"></input><span style="margin-left:7px">seconds.</span>
        </div>
        <div class="timestamp" id="timestamp_{{ each_camera.uuid }}"></div>
        <div class="camera_still"><img id="camera_frame_{{ each_camera.uuid }}" width="640" height="480" src="/camera/{{ each_camera.id }}/latest_still.jpg" /></div>
        <div class="camera_uuid_display"><strong>UUID</strong>&nbsp;{{ each_camera.uuid }}</div>
        <div><strong>IP Address</strong>&nbsp;{{ each_camera.ip_addr }}</div>
    </div>
    </li>
    {% endfor %}
    </ul>
  {% else %}
    <h1>No cameras available.</h1>
  {% endif %}
  <ul>
    <li>
      <a id="add_camera_link" href="#">Add Camera</a>
      <form id="add_camera" method="post">
        {% csrf_token %}
        <div id="add_camera_name"><input name="new_camera_name" size="55" placeholder="Camera Description" /></div>
        <div id="add_camera_uuid"><input name="new_camera_uuid" size="55" placeholder="Camera UUID" /></div>
        <div id="new_camera_button" align="right"><input type="submit" id="new_camera_btn" /></div>
      </form>
    </li>
    <li>
      <a id="remove_camera_link" href="#">Remove Camera</a>
      <form id="remove_camera" method="post">
        {% csrf_token %}
        {% if camera_list %}
          <select name="remove_camera_id">
          {% for each_camera in camera_list %}
            <option value="{{ each_camera.id }}">{{ each_camera.name }}</option>
          {% endfor %}
        </select>
        <input type="submit" size="55" id="remove_camera_btn" />
        {% else %}
          <p>No cameras available.</p>
        {% endif %}
      </form>
    </li>
  </ul>
  </body>
</html>
