<html>
  <head>
    <title>Remote Cameras</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/JavaScript">
    $(document).ready(function() {
        $("#add_camera_link").click(function() {
          $("#add_camera").toggle();
        });
        /*
        $("#new_camera_btn").click(function() {
          var newCameraIdentifier = $("#new_camera_name").val();
          var newCameraUuid = $("#new_camera_uuid").val();
          var data = {"newCameraIdentifier":newCameraIdentifier,
                      "newCameraUuid":newCameraUuid,
                      "action":"newCamera"};
          $.post("/json-api/",JSON.stringify(data),function(data,status,jqKXR) {
            console.log(data);
          });
        });*/
        $("#remove_camera_link").click(function(){
          $("#remove_camera").toggle();
        });
    });
    </script>
    <style type="text/css">
      #add_camera { display: none; width:340px; padding: 5px; }
      #add_camera_name { padding: 3px; }
      #add_camera_uuid { padding: 3px; }
      #new_camera_button { padding: 3px; }
      #remove_camera { display: none; }
      .camera_still {width: 640;height: 480; background-color: #cdcdcdcd;}
    </style>
  </head>
  <body>
  {% if camera_list %}
    <ul>
    {% for each_camera in camera_list %}
      <li><a href="/camera/{{ each_camera.id }}/">{{ each_camera.name }}</a>
      <div class="camera_still"><img width="640" height="480" src="/camera/{{ each_camera.id }}/latest_still.jpg" /></div>
      <div><strong>UUID</strong>&nbsp;{{ each_camera.uuid }}</div>
      <div><strong>IP Address</strong>&nbsp;{{ each_camera.ip_addr }}</div>
      <div><strong>Timestamp</strong>&nbsp;{{ each_camera.timestamp }}</div>
    </li>
    {% endfor %}
    </ul>
  {% else %}
    <h1>No cameras available.</h1>
  {% endif %}
  <ul>
    <li>
      <a id="add_camera_link" href="#">Add Camera</a>
      <form id="add_camera">
        <div id="add_camera_name"><input name="new_camera_name" size="55" placeholder="Camera Description" /></div>
        <div id="add_camera_uuid"><input name="new_camera_uuid" size="55" placeholder="Camera UUID" /></div>
        <div id="new_camera_button" align="right"><input type="submit" id="new_camera_btn" /></div>
      </form>
    </li>
    <li>
      <a id="remove_camera_link" href="#">Remove Camera</a>
      <form id="remove_camera" method="post">
        {% if camera_list %}
          <select name="remove_camera_id">
          {% for each_camera in camera_list %}
            <option value="{{ each_camera.id }}">{{ each_camera.name }}</option>
          {% endfor %}
        </select>
        <input type="submit" size="55" id="remove_camera_btn" />
        {% else %}
          <p>No cameras available.</p>
        {% endif %}
      </form>
    </li>
  </ul>
  </body>
</html>
